/* generic style to help layout - remove or comment */
div,
header,
nav,
section {
  border: 1px solid black;
}

/* GENERIC STYLES---------------------------------------------------------- */

/* generic common style applied to all content as default */
html {
  /* root font-size */
  font-size: 16px;
}

/* common display/layout properties and values shared by flexbox-containers */
/* add CSS vendor prefixes through pleeease tool */
.flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* horizontally aligns */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* vertically aligns */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* MEDIA QUERIES STYLES---------------------------------------------------- */

/* style for HEADER section including: logo and navigation */

header {
  height: 64px;
  height: 4rem;
  background-color: #778899;
  width: 100%;
  position: fixed;
}

.logo {
  height: 32px;
  height: 2rem;
  padding-left: 24px;
  padding-left: 1.5rem;
}

nav {
  padding-right: 24px;
  padding-right: 1.5rem;
}

/* stackoverflow tip: use the negation pseudo-class :not() against the :last-child pseudo-class.
being introduced CSS Selectors Level 3 --> check and implement compatibility through Modernizr */
nav span:not(:last-child) {
  padding-right: 16px;
  padding-right: 1rem;
}

/* main sections */

/* generic style for BANNERS section */

.banner {
  background-color: #d3d3d3;
  width: 100%;
  justify-content: flex-start;
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

/* style for BANNER-START section */

/* to overlap generic banners paddings due to header height and fixed position */
.banner-start {
  padding-top: 96px;
  padding-top: 6rem;
}

.banner-start .left-content{
  width: 60%;
  overflow: hidden;
  padding-left: 24px;
  padding-left: 1.5rem;
}

.banner-start .left-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-start .right-content {
  padding-left: 24px;
  padding-left: 2rem;
  width: 30%;
}

.banner-start .right-content .button {
  background-color: #778899;
  color: white;
  border-radius: 5%;
  padding: 8px 0px;
  padding: 0.5rem 0rem;
  width: 100%
}

/* style for BANNER-INFO section */

.banner-info .left-content {
  width: 60%;
  overflow: hidden;
  padding-left: 24px;
  padding-left: 1.5rem;
}

.banner-info .left-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-info .left-content h2 {
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}

.banner-info .left-content p:nth-child(0n+1) {
  font-size: 2rem;
}





/* style for BANNER-COURSES section */






/* style for BANNER-SHOWCASE section */
