/* generic style to help layout - remove or comment at the end */

div,
header,
nav,
section,
span,
a {
  /* border: 1px solid black; */
}

/* GENERIC STYLES---------------------------------------------------------- */

/* generic style applied to content as default to control font-size, paddings and to limit content width using desktop */

html {
  /* root font-size */
  font-size: 16px;
}

.site-container {
  width: 1240px;
}

.site-container-courses {
  width: 1096px;
}

/* common display/layout properties and values shared by flexbox-containers */
/* added CSS vendor prefixes through pleeease tool */

.flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* horizontally aligns */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* vertically aligns */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* MEDIA QUERIES STYLES FOR MOBILE VERSION--------------------------------- */

/* generic selector to hide mobile content */

.mobile {
  display: none;
}

/* selector to hide mobile pictures version for banner-info */

.banner.banner-info .right-content .tile img.mobile {
  display: none;
}

@media only screen and (max-width: 900px) {

.desktop {
  display: none;
}

.mobile {
  display: flex;
  width: 100%;
}

/* header style for mobile version */

header .flexbox-container.icons-bar {
  width: 60%;
}

header span {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: background-color 300ms linear 150ms;
  border-radius: 3.2px;
  border-radius: 0.2rem;
  height: 32px;
  height: 2rem;
}

header span:hover {
  background-color: #d3d3d3;
  border-radius: 3.2px;
  border-radius: 0.2rem;
}

/* main sections */

/* banner-start */

.banner.banner-start {
  padding-top: 64px;
  padding-top: 4rem;
}

.banner.banner-start .flexbox-container {
  flex-direction: column;
}

.banner.banner-start .left-content {
  padding-left: 0px;
  padding-left: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  width: 100%;
}

.banner.banner-start .right-content {
  padding-top: 32px;
  padding-top: 2rem;
  width: 100%;
}

.banner.banner-start .text-info {
  padding-left: 0px;
  padding-left: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  width: 100%;
}

.banner.banner-start .text-info h2,
.banner.banner-start .text-info h4,
.banner.banner-start .right-content .text-info .button {
  margin-left: 16px;
  margin-left: 1rem;
  margin-right:16px;
  margin-right: 1rem;
  text-align: left;
}

/* banner-info */

.banner.banner-info {
  padding: 16px 0px 0px 0px;
}

.banner.banner-info .right-content {
  width: 100%;
}

.banner.banner-info .right-content .tile {
  flex-direction: column;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  background-color: white;
}

.banner.banner-info .right-content .text-info {
  padding: 16px 0px 0px 0px;
  padding: 1rem 0rem 0rem 0rem;
  width: 100%;
}

.banner.banner-info .right-content .tile img {
  max-width: 100%;
}

.banner.banner-info .right-content .tile img.desktop {
  display: none;
}

.banner.banner-info .right-content .tile img.mobile {
  display: block;
}

.banner.banner-info .text-info h4,
.banner.banner-info .text-info p,
.banner.banner-info .text-info a {
  margin-left: 16px;
  margin-left: 1rem;
  margin-right:16px;
  margin-right: 1rem;
}

/* banner-courses */

.banner.banner-courses {
  background-color: white;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
}

.banner.banner-courses .courses-mobile {
  flex-direction: column;
}

/* select all child div, inside parent div .courses-mobile and apply to all, except the last one, margin-bottom property */
.banner.banner-courses .courses-mobile div:not(:last-child) {
  margin-bottom: 8px;
}

.banner.banner-courses .courses {
  display: flex;
  padding: 16px;
  padding: 1rem;
  background-color: #d3d3d3;
  transition: background-color 300ms linear 150ms;
}

.banner.banner-courses .courses:hover {
  background-color: hsla(260, 75%, 5%, 0.3);
}

/* banner-showcase */

.banner.banner-showcase .left-content {
  width: 100%;
  padding: 0px;
  padding: 0rem;
}

.banner.banner-showcase .left-content .showcase-text {
  display: none;
}

/* footer */

footer nav {
  display: none;
}

}

/* END OF MEDIA QUERIES STYLES FOR MOBILE VERSION-------------------------- */

/* style for HEADER (including logo and navigation) and FOOTER sections */

/* fixed header and header properties */
header {
  height: 64px;
  height: 4rem;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/* center header and footer content */
header.flexbox-container,
footer.flexbox-container {
  justify-content: center;
}

.logo {
  height: 32px;
  height: 2rem;
  padding-left: 24px;
  padding-left: 1.5rem;
}

nav {
  padding-right: 1.5rem;
}

/* stackoverflow tip: use the negation pseudo-class :not() against the :last-child pseudo-class.
being introduced CSS Selectors Level 3 --> check and implement compatibility through Modernizr */
nav span:not(:last-child) {
  padding-right: 1rem;
}

/* style for FOOTER section */
/* Attention: content is placed top due to positioning-top selector - section for generic BANNERS style */
footer {
  height: 80px;
  height: 5rem;
  background-color: white;
  padding-top: 16px;
  padding-top: 1rem;
}

footer p {
  padding-left: 24px;
  padding-left: 1.5rem;
}

/* main sections */

/* generic style for BANNERS section */

.banner {
  background-color: white;
  justify-content: center;
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

/* common style applied to left-content from banner-start and banner-info*/

.banner .left-content{
  width: 60%;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* common style applied to image and video inside left-content from banner-start, banner-info and banner-showcase */

.banner .left-content img,
.banner-showcase .left-content video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* common style applied to right-content from banner-start and banner-info*/

.banner .right-content {
  width: 40%;
  overflow: hidden;
}

/* common style applied to image inside right-content from banner-info and banner-showcase */

.banner .right-content img {
  max-width: 35%;
  height: auto;
  display: block;
}

/* common style applied to upper-tile inside right-content from banner-info and banner-showcase */

.banner .upper-tile {
  padding-top: 0px;
  padding-top: 0rem;
}

/* shared style by main headings h2 from banner-courses and banner-showcase */

.banner-courses h2,
.banner-showcase h2 {
  text-align: center;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

/* common style applied to tiles from banner-info and banner-showcase */
.tile {
  justify-content: flex-start;
  padding: 16px;
  padding: 1rem;
  transition: background-color 300ms linear 150ms;
}

.tile:hover {
  background-color: #d3d3d3;
}

/* common control for "text boxes" used in right-content of banner-start and inside tiles from banner-info and banner-showcase */
.text-info {
  width: 60%;
  padding-left: 16px;
  padding-left: 1rem;
}

.text-info p {
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

/* shared aligns-items property to overlap generic .flexbox-container and place content at the top of container */
/* applied over banner-info, banner-courses, banner-showcase and footer */

.positioning-top {
  align-items: flex-start;
}

/* style for BANNER-START section */

/* to overlap generic banners paddings due to header height and fixed position */
.banner-start {
  background-color: #d3d3d3;
  padding-top: 96px;
  padding-top: 6rem;
}

.banner-start .right-content h4 {
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}

.banner-start .right-content .button {
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  padding: 1rem 0rem;
  color: white;
  background-color: hsla(260, 75%, 5%, 0.55);
  transition: background-color 300ms linear 150ms;
  border-radius: 3.2px;
  border-radius: 0.2rem;
}

.banner-start .right-content .button:hover {
  background-color: hsla(260, 75%, 5%, 0.3);
  border-radius: 3.2px;
  border-radius: 0.2rem;
}

/* style for BANNER-INFO section */

.banner-info .left-content h2 {
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}

.banner-info .left-content .signature {
  padding-top: 32px;
  padding-top: 2rem;
}

/* style for BANNER-COURSES section */

.banner-courses {
  background-color: #d3d3d3;
  border: 0.5px solid #d3d3d3;
}

.top-row {
  padding-bottom: 16px;
  padding-bottom: 1rem;
}

.course-tile {
  width: 32%;
  background-color: white;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
}

.course-tile h4 {
  padding: 16px 0px;
  padding: 1rem 0rem;
}

.course-tile p {
  padding: 8px 0px;
  padding: 0.5rem 0rem;
}

.course-tile img {
  width: 100%;
  height: auto;
}

/* style for BANNER-SHOWCASE section */

.banner-showcase .left-content h4 {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}
