/* generic style to help layout - remove or comment at the end */

div,
header,
nav,
section {
  border: 1px solid black;
}

/* GENERIC STYLES---------------------------------------------------------- */

/* generic style applied to content as default to control font-size, paddings and to limit content width using desktop */

html {
  /* root font-size */
  font-size: 16px;
}

.site-container {
  width: 1240px;
}

.site-container-courses {
  width: 1096px;
}

/* common display/layout properties and values shared by flexbox-containers */
/* added CSS vendor prefixes through pleeease tool */

.flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* horizontally aligns */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* vertically aligns */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* MEDIA QUERIES STYLES FOR MOBILE VERSION--------------------------------- */

/* style for HEADER section including logo and navigation */

/* fixed header and header properties */
header {
  height: 64px;
  height: 4rem;
  background-color: #778899;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/* center header content */
header.flexbox-container {
  justify-content: center;
}

.logo {
  height: 32px;
  height: 2rem;
  padding-left: 24px;
  padding-left: 1.5rem;
}

nav {
  padding-right: 1.5rem;
}

/* stackoverflow tip: use the negation pseudo-class :not() against the :last-child pseudo-class.
being introduced CSS Selectors Level 3 --> check and implement compatibility through Modernizr */
nav span:not(:last-child) {
  padding-right: 1rem;
}

/* main sections */

/* generic style for BANNERS section */

.banner {
  background-color: #d3d3d3;
  justify-content: center;
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

/* common style applied to left-content from banner-start and banner-info*/

.banner .left-content{
  width: 60%;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* common style applied to image and video inside left-content from banner-start, banner-info and banner-showcase */

.banner .left-content img,
.banner-showcase .left-content video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* common style applied to right-content from banner-start and banner-info*/

.banner .right-content {
  width: 40%;
  overflow: hidden;
}

/* common style applied to image inside right-content from banner-info and banner-showcase */

.banner .right-content img {
  max-width: 35%;
  height: auto;
  display: block;
}

/* common style applied to upper-tile inside right-content from banner-info and banner-showcase */

.banner .upper-tile {
  padding-top: 0px;
  padding-top: 0rem;
}

/* shared style by main headings h2 from banner-courses and banner-showcase */

.banner-courses h2,
.banner-showcase h2 {
  text-align: center;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

/* common style applied to tiles from banner-info and banner-showcase */
.tile {
  justify-content: flex-start;
  padding: 16px;
  padding: 1rem;
}

/* common control for "text boxes" used in right-content of banner-start and inside tiles from banner-info and banner-showcase */
.text-info {
  width: 60%;
  padding-left: 16px;
  padding-left: 1rem;
}

.text-info p {
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

/* shared aligns-items property to overlap generic .flexbox-container and place content at the top of container */
/* applied over banner-info, banner-courses and banner-showcase */

.positioning-containers-top {
  align-items: flex-start;
}

/* style for BANNER-START section */

/* to overlap generic banners paddings due to header height and fixed position */
.banner-start {
  padding-top: 96px;
  padding-top: 6rem;
}

.banner-start .right-content h4 {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}

.banner-start .right-content .button {
  background-color: #778899;
  color: white;
  border-radius: 5%;
  padding: 8px 0px;
  padding: 0.5rem 0rem;
  width: 100%;
}

/* style for BANNER-INFO section */

.banner-info .left-content h2 {
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}

.banner-info .left-content .signature {
  padding-top: 32px;
  padding-top: 2rem;
}

/* style for BANNER-COURSES section */

.top-row {
  padding-bottom: 16px;
  padding-bottom: 1rem;
}

.course-tile {
  width: 32%;
  background-color: white;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
}

.course-tile h4 {
  padding: 16px 0px;
  padding: 1rem 0rem;
}

.course-tile p {
  padding: 8px 0px;
  padding: 0.5rem 0rem;
}

.course-tile img {
  width: 100%;
  height: auto;
}

/* style for BANNER-SHOWCASE section */

.banner-showcase .left-content h4 {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}
